<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Infographics</title>
</head>
<script> src= "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" </script>
<script> src="../script.js" </script>
<style>

.myDiv {
  margin-bottom: 5%;
  margin-left: 19%;
  margin-right: 19%;
  background-color: rgb(226, 233, 235);    
  text-align: center;
}

  body, h1, h2, h3, h4, h5, h6  {
    font-family: Arial;
    text-align: center;
  }
  form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: center;
  width: 175%;
  background: #f1f1f1;
  margin-left: 20%;
  size: 10%;
  
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}


  </style>
<body>
  <p style="text-align:center;"><img src="../got-books.jpeg" width="450" height="450" style="text-align: center" margin-left="300" ></p>
<h1 style="text-align: center," > Infographics from the Books of George R. R. Martin </h1>
<form method="get" id="changeQuote" class="center" style="size: 200px">
  <input type="text" placeholder="Search.." name="search2", size="100">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<br><br><br><br>
<div class="myDiv", id="books" style="border: 5px outset rgb(0, 4, 255);">
 
</div>
<div class="myDiv",  id="characters" style="border: 5px outset red;">
 
</div>
<div class="myDiv", id="houses", style="border: 5px outset rgb(255, 247, 0);">
  
</div>






</body>
</html>